# 忽略 Maven 工具夹及其相关脚本，禁止这部分代码计入统计
maven/** linguist-vendored
*.cmd linguist-vendored
*.sh linguist-vendored

# 强制将 demo 核心代码目录的文件均识别并统计为 Java 语言
# 这是一个终极解决方案，适用于主代码体量较小但需要显示专属饼图的仓库
demo/** linguist-language=Java
